# LaTeX auxiliary and build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.dvi
*.xdv
*.bbl
*.bcf
*.blg
*.run.xml
*.nav
*.snm
*.vrb
*.idx
*.ind
*.ilg
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glg-*
*.glo-*
*.gls-*
*.glsdefs
*.loa
*.lol
*.lolist
*.thm
*.loe
*.dpth
*.md5
*.maf
*.mtc*
*.nlo
*.nls
*.nlg
*.fvrb-ex
*.listing
*.pyg
*.pygstyle
*.pygtex
*.w18
*.upa
*.upb
*.spl
*.sta
*.tdo
*.md
*/slides/
*.fmt
*.pre
*.vrb
*.auxlock
*.snm
*.pdfsync
*.loe
*.lb
*.rubbercache
*.gnuplot
*.table
*-converted-to.*
_minted*/
_minted/
pythontex-files-*/
*.pytxcode
*.pytxmcr
*.pytxpyg
